# build tools
setuptools>=67.0
wheel>=0.40

# core data science
numpy>=1.23,<2.0
pandas>=1.5
scipy>=1.11
scikit-learn>=1.4
xgboost>=2.0
statsmodels>=0.14
prophet>=1.1

# deep learning (macOS)
tensorflow-macos==2.13.0; platform_system=="Darwin"
tensorflow-metal==1.2.0;   platform_system=="Darwin"

# deep learning (Linux & others)
tensorflow>=2.13.0,<2.15.0; platform_system!="Darwin"

# satisfy both TF and Streamlit
protobuf>=3.20.3,<4

# finance data
yfinance>=0.2

# dashboard / UI
streamlit>=1.26,<1.28
plotly>=5.16

# date handling
python-dateutil>=2.9

pandas-datareader>=0.10.0
tweepy>=4.0.0       # for live Twitter sentiment
praw>=7.0.0         # for Reddit sentiment